name: "main"

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Node modules
        working-directory: ui
        run: npm install

      - name: Check formatting
        working-directory: ui
        run: npx prettier --check .

      - name: Build
        working-directory: ui
        run: npm run build

      - name: Copy JSON files
        run: |
          jq -c . < ui/huts.json > /tmp/huts.json
          cp /tmp/huts.json ui/dist
          cp ui/pistes.gpx ui/dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ui/dist

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: pro
    needs: [build]
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ui/dist

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{vars.DEPLOYMENT_ROLE_ARN}}
          aws-region: eu-west-1

      - name: Terraform Init
        working-directory: stack
        run: |
          terraform init -backend-config="tfvars/backend-pro.hcl"

      - name: Terraform Apply
        working-directory: stack
        run: |
          terraform apply -auto-approve -var-file="tfvars/pro.tfvars"

      - name: S3 Sync
        run: aws s3 sync ./ui/dist s3://${{vars.S3_BUCKET_NAME}}
